//
//  Transfloor.xcconfig
//  emptyExample
//
//  Created by macmini_late2012 on 2017/06/19.
//
//

#include "Project.xcconfig"


HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) src $(OF_PATH)/addons/ofxOsc/src/** $(OF_PATH)/addons/ofxOsc/libs/** $(OF_PATH)/addons/ofxOpenCv/** $(OF_PATH)/addons/ofxKinect/src/** $(OF_PATH)/addons/ofxKinect/libs/libusb-1.0/** $(OF_PATH)/addons/ofxKinect/libs/libfreenect/src/** $(OF_PATH)/addons/ofxKinect/libs/libfreenect/include/** $(OF_PATH)/addons/ofxJSON/src/** $(OF_PATH)/addons/ofxJSON/libs/** $(OF_PATH)/addons/ofxSimpleTimer/src/
